body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
  background-color: transparent;
  background: transparent;
}

.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
  background-color: transparent;
  background: transparent;
}
